<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boarding pass gift</title>
    <meta name="description" content="Generate a fake boarding pass and make a better gift">
    <meta name="keywords" content="boarding,pass,fake,flight,ticket,boarding pass,flight ticket,fake flight ticket,fake boaring pass">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/styles/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/styles/bootstrap-select.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/styles/flag-icon.min.css" rel="stylesheet" type="text/css" />
</head>
<body>

    <div class="container body-content">
        <header>
            @Html.Partial("_LanguageSelector")
        </header>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - NDR</p>
        </footer>
    </div>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src='~/Content/script/jquery.min.js'></script>
    <script src='~/Content/script/jquery-ui.min.js'></script>
    <script src='~/Content/script/bootstrap-select.min.js'></script>
    <script src='~/Content/script/bootstrap.min.js'></script>
    <script src="~/Content/script/script.js"></script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-97905932-1', 'auto');
        ga('send', 'pageview');

    </script>
</body>
</html>