<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <TelemetryProcessors>
  </TelemetryProcessors>
  <!-- This key is for Application Insights resource 'FakeTicket' in resource group 'Default-ApplicationInsights-EastUS' -->
  <InstrumentationKey>78533bd8-e873-4793-a599-6e4fbe7fda0c</InstrumentationKey>
</ApplicationInsights>